* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.img {
  width: 1000px;
}

.final {
  border: 10px solid black;
}

body {
  margin: 20px 0px;
}

pre {
  overflow: auto;
  height: fit-content;
  width: fit-content;
  white-space: pre-wrap;
  word-wrap: normal;
}

h6 {
  position: relative;
  left: 200px;
}

.text-center {
  font-size: 24px;
}

.text-start {
  position: relative;
  left: 200px;

  width: 1200px;
  font-size: 20px;
}

.dates {
  color: red;
}

hr {
  border-color: red;
  height: 20px;
}

.diagram {
  width: fit-content;
  border: 2px solid black;
  display: inline;
  margin: 80px;
}

.diagram-container {
  position: relative;
  left: 200px;
}

ul li {
  position: relative;
  left: 200px;
  width: 1200px;
  font-size: 20px;
}

ol li {
  position: relative;
  left: 200px;
  width: 1200px;
  font-size: 20px;
}

p {
  position: relative;
  left: 300px;
  width: 1200px;
  font-size: 20px;
}
